.parent-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
  background-color: #4cacaf;
  color: white;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #458ca0;
}

form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 3px;
}
